{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Django E commerce Website </p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify-content-center">
                    Welcome to Django E-commerce website. This website is built using Django framework, Python, HTML, CSS and JavaScript. It provides a user-friendly interface for shopping, checkout, and order management.
                    <br><br>
                    The website features a registration and login system, securely storing user information using Django's built-in authentication framework. Users can create accounts, log in, and view their orders.
                    <br><br>
                    The website also includes a product catalog, allowing users to browse and add products to their cart. Users can apply filters and sort products based on various criteria.
                    <br><br>
                    To place an order, users must log in and select products from the cart. They can then review their order, update their shipping address, and choose a payment method. After submitting the order, the website will process the payment and send an email confirmation to the user.
                    <br><br>
                    The website also includes a shopping cart and a checkout page
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}
{% block footer_wrapper %}

{% endblock %}