{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-3">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Register</h1>
            <p class="lead fw-normal text-white-50 mb-0">Register To New User Account</p>
        </div>
    </div>
</header>

<!-- Registration Form -->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-secondary mt-3">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer_wrapper %}

{% endblock %}